<div style="height: calc(100vh - 100px)">
  <kendo-grid
    class="enhanced"
    style="width: 1500px"
    [style.maxHeight.%]="100"
    [kendoGridBinding]="rows"
    [kendoGridInCellEditing]="createFormGroup"
    [selectable]="selectableSettings"
    kendoGridSelectBy
    [(selectedKeys)]="selectedCells"
    [navigable]="true"
    enhancedGrid
    [changeCellFocusWithTab]="true"
    [selectingWithShift]="true"
    [selectingWithMouse]="true"
    [enableCopying]="true"
    [enablePasting]="true"
    [(aggregates)]="aggregates"
    [frozenColumns]="frozenColumns"
    [calculatedRows]="calculatedRows"
  >
    <kendo-grid-column
      field="id"
      [width]="100"
      [editable]="false"
      [class]="'non-editable'"
    ></kendo-grid-column>
    <kendo-grid-column field="accountNumber.accNumber" [width]="120">
      <ng-template kendoGridEditTemplate let-formGroup="formGroup">
        <kendo-combobox
          kendoGridFocusable
          size="small"
          fillMode="solid"
          [formControl]="formGroup.get('accountNumber')"
          [data]="accountNumbers"
          textField="accNumber"
          valueField="id"
          [kendoDropDownFilter]="{ operator: 'contains' }"
          [popupSettings]="{ width: 'auto' }"
        >
        </kendo-combobox>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="accountNumber.accName"
      [width]="120"
      [editable]="false"
      [class]="'non-editable'"
    ></kendo-grid-column>
    <kendo-grid-column field="project.projNumber" [width]="120">
      <ng-template kendoGridEditTemplate let-formGroup="formGroup">
        <kendo-multicolumncombobox
          kendoGridFocusable
          size="small"
          fillMode="solid"
          [formControl]="formGroup.get('project')"
          [data]="projects"
          textField="projNumber"
          valueField="id"
          [kendoDropDownFilter]="{
            operator: 'contains',
            fields: ['projNumber', 'projName']
          }"
          [popupSettings]="{ width: '20%' }"
        >
          <kendo-combobox-column field="id"></kendo-combobox-column>
          <kendo-combobox-column field="projNumber"></kendo-combobox-column>
          <kendo-combobox-column field="projName"></kendo-combobox-column>
        </kendo-multicolumncombobox>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="category"
      [width]="120"
      [editable]="false"
      [class]="'non-editable'"
    ></kendo-grid-column>
    <kendo-grid-column
      field="jan"
      [width]="100"
      [class]="'!k-text-right'"
    ></kendo-grid-column>
    <kendo-grid-column
      field="feb"
      [width]="100"
      [class]="'!k-text-right'"
    ></kendo-grid-column>
    <kendo-grid-column
      field="mar"
      [width]="100"
      [class]="'!k-text-right'"
    ></kendo-grid-column>
    <kendo-grid-column
      field="apr"
      [width]="100"
      [class]="'!k-text-right'"
    ></kendo-grid-column>
    <kendo-grid-column
      field="may"
      [width]="100"
      [class]="'!k-text-right'"
    ></kendo-grid-column>
    <kendo-grid-column
      field="jun"
      [width]="100"
      [class]="'!k-text-right'"
    ></kendo-grid-column>
    <kendo-grid-column
      field="jul"
      [width]="100"
      [class]="'!k-text-right'"
    ></kendo-grid-column>
    <kendo-grid-column
      field="aug"
      [width]="100"
      [class]="'!k-text-right'"
    ></kendo-grid-column>
    <kendo-grid-column
      field="sep"
      [width]="100"
      [class]="'!k-text-right'"
    ></kendo-grid-column>
    <kendo-grid-column
      field="oct"
      [width]="100"
      [class]="'!k-text-right'"
    ></kendo-grid-column>
    <kendo-grid-column
      field="nov"
      [width]="100"
      [class]="'!k-text-right'"
    ></kendo-grid-column>
    <kendo-grid-column
      field="dec"
      [width]="100"
      [class]="'!k-text-right'"
    ></kendo-grid-column>
    <kendo-grid-column
      field="total"
      [width]="100"
      [class]="'!k-text-right non-editable'"
      [editable]="false"
    ></kendo-grid-column>
    <ng-template kendoGridStatusBarTemplate>
      sum: {{ aggregates.sum }}, count: {{ aggregates.count }}, avg:
      {{ aggregates.avg }}, min: {{ aggregates.min }}, max: {{ aggregates.max }}
    </ng-template>
  </kendo-grid>
</div>
<div>selected cells: {{ selectedCells | json }}</div>
<div *ngIf="checkDuplicates()">no duplicates</div>
<div *ngIf="!checkDuplicates()">duplicates</div>
