<kendo-tabstrip>
  <kendo-tabstrip-tab
    title="normal grid (with sorting, paging, filtering)"
    [selected]="true"
  >
    <ng-template kendoTabContent>
      <normal-grid></normal-grid>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab title="calculation grid BOTTOM">
    <ng-template kendoTabContent>
      <calc-grid-bottom></calc-grid-bottom>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab title="calculation grid TOP">
    <ng-template kendoTabContent>
      <calc-grid-top></calc-grid-top>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab title="grouped grid">
    <ng-template kendoTabContent>
      <grouped-grid></grouped-grid>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab title="calc grid top grouped">
    <ng-template kendoTabContent>
      <calc-grid-top-grouped></calc-grid-top-grouped>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab title="calc grid bottom grouped">
    <ng-template kendoTabContent>
      <calc-grid-bottom-grouped></calc-grid-bottom-grouped>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab title="calc grid top grouped multiple level">
    <ng-template kendoTabContent>
      <calc-grid-top-grouped-multiple-lvl></calc-grid-top-grouped-multiple-lvl>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab title="calc grid bottom grouped multiple level">
    <ng-template kendoTabContent>
      <calc-grid-bottom-grouped-multiple-lvl></calc-grid-bottom-grouped-multiple-lvl>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab title="custom func col">
    <ng-template kendoTabContent>
      <calc-grid-custom></calc-grid-custom>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab title="custom func row">
    <ng-template kendoTabContent>
      <calc-grid-custom-row></calc-grid-custom-row>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab title="info">
    <ng-template kendoTabContent>
      <calc-grid-info></calc-grid-info>
    </ng-template>
  </kendo-tabstrip-tab>
</kendo-tabstrip>
